.side-bar {
	margin: 0;
	margin-top: 50px;
	min-width: 280px;
	max-width: 280px;
	height: 100%;
	background-color: #f9f9f9;
	border-right: 1px solid #dee2e6;
	position: fixed;
	display: initial;
	z-index: 10;
}

.side-bar-list {
	padding: 16px;
}

.list {
	list-style-type: none;
	padding: 0;
}

.list li {
	margin-top: 10px;
}

.list li:first-child {
	margin-top: 16px;
}

.list a {
	text-decoration: none;
	color: black;
}

.list a:hover {
	color: blue;
	transition: 0.5s;
}

.list span {
	padding: 0 12px 0 6px;
}

.side-bar hr {
	margin: 0 2vw 0 2vw;
}