html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

.card-system {
	margin-bottom: 16px;
}

.div-main-system .card-system:last-child {
	margin-bottom: 0;
}

.input-ssid {
	display: flex;
}

.btn-scan-ssid {
	margin-left: 24px;
}

.div-list-ssid {
	margin-top: 16px;
}

#spinner-ssid {
	margin: 0;
	margin-left: 16px;
	width: 32px;
	height: 32px;
}

/* < 876px */
@media(max-width: 876px){

	.btn-save {
		min-width: 25vw;
	}
	
	#spinner-ssid {
		margin-top: 5px;
		width: 24px;
		height: 24px;
	}
}

/* < 652px */
@media(max-width: 652px){
	
	#spinner-ssid {
		margin-top: 10px;
		width: 16px;
		height: 16px;
	}
}