html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

.card-system {
	margin-bottom: 16px;
}

.div-main-system .card-system:last-child {
	margin-bottom: 0;
}

.input-ssid {
	display: flex;
}

.btn-scan-ssid {
	margin-left: 24px;
}

.div-list-ssid {
	margin-top: 16px;
}

/* < 876px */
@media(max-width: 876px){
	
	.div-main {
		position: relative;
		margin: 0 !important;
		top: 50px !important;
		padding: 5vw 5vh 5vw 5vh !important;
	}

	.btn-save {
		min-width: 25vw;
	}
	
}