html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

.div-signout {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.top-bar {
	position: fixed;
	display: flex;
	align-items: center;
	background-color: #f9f9f9;
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #dee2e6;
	z-index: 11;
}

.top-bar a {
	text-decoration: none;
	color: black;
	margin-right: 3.5vw;
	margin-left: 12px;
}

.top-bar a:hover {
	color: #0d6efd;
	transition: 0.5s;
}

.btn-mobile {
	border: none;
	background-color: transparent;
	margin-left: 5vw;
}

/* < 876px */
@media(max-width: 876px){

	.top-bar a {
		min-width: 100px;;
	}

	.div-btn-mobile {
		display: block;
	}

}