.hidden {
	display: none !important;
}

p {
	margin-bottom: 0;
}

.div-main {
	position: relative;
	margin-left: 280px;
	top: 50px;
	padding: 50px 75px 25px 75px;
}

.input-span {
	margin-left: 6px;
	font-size: 14px;
	color: #595c5f;
}

.top-iframe {
	position: fixed;
	display: block;
	border: none;
	height: 50px; /* Mesma altura do top-bar.html */
	width: 100%;
	z-index: 1000;
}

.side-iframe {
	margin-top: 50px; /* Mesma altura do top-bar.html */
	position: fixed;
	display: block;
	border: none;
	height: 100vh;
	width: 100%;
}

.btn-save {
	margin-top: 16px;
	width: 10vw;
}

.div-btn-save {
	display: flex;
	justify-content: center;
}

.card-body .card-input:first-child {
	margin-top: 0;
}

.card-input {
	margin-top: 16px;
}

.input-checkbox {
	margin-bottom: 12px;
}

.input-checkbox p {
	margin-right: 10px !important;
	color: #595c5f;
	font-weight: 600;
}

.input-checkbox p, input {
	display: inline-block;
	margin: 0;
}

.loading_screen {
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 25vh 25vw 25vh 25vw;
	background-color: rgba(195, 203, 211, 0.35);
	color: #0a58ca;
	z-index: 999;
	align-items: center;
	justify-content: center;
}

.loading_screen h1 {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
}

.spinner-border {
	margin-top: 16px;
}